# folders
# web
scripts

# files
*.DS_Store
*.swp
*.swo
*.bak
ui/logs
tags
Test.php
ui/config/database.php
ui/config/redis.php
ui/config/memcached.php
ui/views/upload_form.php
ui/views/upload_success.php
ui/testPreSlotid.php
